$text-color: #222
$background: #fff

$blue:   #17d
$orange: #972
$green:  #7c7
$red:    #922

$primary-color:   $blue
$secondary-color: $orange
$highlight:       $green

$light-neutral: #ddd
$mid-neutral:   #777
$dark-neutral:  #444

$border-radius: 0.25rem

// I hate arithmetic
*
  box-sizing: border-box

// Basic styles
body
  background: $background
  color: $text-color
  font: 20px "Roboto", sans-serif
  line-height: 1.2em
  margin: 0

// Respond to mobile widths
@media screen and (max-width: 480px)
  body
    font: 16px "Roboto", sans-serif
  table
    font-size: 0.9em

// Fix touch issues on mobile devices
body.report_form
  -webkit-touch-callout: none
  -webkit-user-select: none
  user-select: none

// Restrict width of content wrappers
.content
  max-width: 600px
  margin: 1rem auto
  padding: 0 1rem

// Header styles
#header
  background: $dark-neutral
  color: white
  -webkit-font-smoothing: antialiased
  font-size: 0.7em
  line-height: 1.5em
  font-weight: bold
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
  overflow: hidden
  margin: 0
  padding: 0.5em 0

  .content
    margin-top: 0
    div
      width: 50%
      float: left
    h1
      margin: 0
      font-size: 1em
    .date
      text-align: right

// Hide the radio buttons
input[type=radio]
  display: none

// Display field name
div > label
  display: block
  padding: 0.5em 0
  text-align: center
  background: $mid-neutral
  color: $light-neutral
  -webkit-font-smoothing: antialiased
  font-size: 0.75em
  font-weight: bold
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1)
  abbr
    display: none

@mixin button-background($color)
  background: $color
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,lighten($color, 15%)), color-stop(100%, $color))
  &:hover
    background: $color
    background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, $color), color-stop(100%, darken($color, 10%)))

// Submit button style
input[type=submit], a.button
  +button-background($primary-color)
  display: block
  text-align: center
  text-decoration: none
  cursor: pointer
  -webkit-appearance: none
  color: white
  -webkit-font-smoothing: antialiased
  font-family: "Roboto", sans-serif
  font-size: 1.5em
  font-weight: bold
  padding: 1em 0
  border: 2px solid rgba(0, 0, 0, 0.2)
  border-radius: $border-radius
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.7), inset -2px -2px 2px rgba(0, 0, 0, 0.1)
  width: 100%

  &.secondary
    +button-background($secondary-color)

  &:disabled
    -webkit-animation: pulse 2s infinite
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.3), inset 2px 2px 2px rgba(0, 0, 0, 0.1)

// Submitting animation runs when submit button is disabled
@-webkit-keyframes pulse
  from
    color: $light-neutral
    background: $mid-neutral
  50%
    color: darken($light-neutral, 10%)
    background: darken($mid-neutral, 15%)
  to
    color: $light-neutral
    background: $mid-neutral

// Radio button choice labels
span > label
  cursor: pointer
  float: left
  background: $light-neutral
  color: #555
  font-weight: bold
  border: 2px solid rgba(0, 0, 0, 0.3)
  padding: 1.5em 0
  text-align: center
  border-right-width: 0
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.7), inset -2px -2px 2px rgba(0, 0, 0, 0.1)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, $light-neutral), color-stop(100%,darken($light-neutral, 10%)))
  &:hover
    background: lighten($light-neutral, 10%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, lighten($light-neutral, 10%)), color-stop(100%, $light-neutral))

span:last-child > label
  border-right-width: 2px

// Layout is hard
.input.two-up span > label
  width: 50%
.input.three-up span > label
  width: 33%
.input.three-up span:nth-child(2) > label
  width: 34%

// Delicious rounded borders
div > label
  border: 2px solid rgba(0, 0, 0, 0.1)
  border-bottom: none
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius

.input span:nth-child(2) > label
  border-bottom-left-radius: $border-radius

.input span:last-child > label
  border-bottom-right-radius: $border-radius

// Currently checked label
input[type=radio]:checked + label
  background: $highlight
  color: #222
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.7), inset 2px 2px 2px rgba(0, 0, 0, 0.1)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,darken($highlight, 5%)), color-stop(100%,lighten($highlight, 5%)))

// Rows of radio buttons
.input
  clear: both
  overflow: hidden
  margin-bottom: 1em

// Table styling
table
  border-collapse: collapse
  width: 100%
  thead
    background: $mid-neutral
    color: white
    -webkit-font-smoothing: antialiased
    font-size: 0.75em
  td, th
    border: 2px solid $mid-neutral
    padding: 0.5em 1em
  tbody tr
    background: white
    &:nth-child(2n)
      background: $light-neutral
  td.empty
    text-align: center
    background: $light-neutral
    color: $dark-neutral
    font-size: 0.75em

// Definition list for reports#show
dl
  font-size: 0.75em
  line-height: 1.25em
  background: $light-neutral
  border: 2px solid $mid-neutral
  border-radius: $border-radius * 2
  padding: 0.5em 1em
  overflow: hidden

dt
  float: left
  clear: both
  font-weight: normal
  width: 5em
  margin-right: 1em
  margin: 0.5em 0

dd
  font-weight: bold
  display: inline
  float: left
  margin: 0.5em 0


// Scale everything up for bigger devices
@media screen and (min-device-height: 550px)
  body.report_form
    font-size: 22px

// Embedded course report
body.iframe
  background: $background
  color: $text-color
  font: 14px "Helvetica", sans-serif
  line-height: 1.2em
  margin: 0 1em
  h1
    font-size: 16px
    font-weight: bold
  em
    font-weight: bold
    font-style: normal
    &.closed
      color: $red
    &.open
      color: $green
  footer
    font-size: 0.75em