%h1 Reports

%table
  %thead
    %tr
      %th Source
      %th Status
      %th Weather
      %th Date
  %tbody
    - @reports.each do |report| 
      %tr
        %td=h report.source
        %td= report.status
        %td= report.weather
        %td= report.created_at.to_s(:short)
