- content_for(:title) { "Lenzie GC Course Conditions Reports" }

%table
  %thead
    %tr
      %th Source
      %th Status
      %th Weather
      %th Reported
  %tbody
    - if @reports.empty?
      %tr
        %td.empty{colspan: 4} No reports yet.
    - @reports.each do |report| 
      %tr
        %td=h report.source.name
        %td= report.status
        %td= report.weather
        %td= report.created_at.to_s(:short)
